<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.crowdsource">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".TaskInfo" />
        <activity android:name=".SignUp" />
        <activity android:name=".ViewTasks" />
        <activity android:name=".MyTasks"/>
        <activity android:name=".Submission"/>
        <activity android:name=".PeopleAppliedToTasks"/>
        <activity android:name=".AssignerTaskPage"/>
        <activity android:name=".AssigneeTaskPage"/>
        <activity android:name=".PostReview"/>
        <activity android:name=".ViewReviews"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAuUjBlcrcVh6_ohP6wAxaf_iBYyappdBg" />

        <activity android:name=".TaskDescription"></activity>
    </application>

</manifest>